server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: colinho-api-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: colinho-api
          __path__: /app/logs/*.log
    pipeline_stages:
      - json:
          expressions:
            timestamp: Timestamp
            level: Level
            message: Message
            category: Category
      - timestamp:
          source: timestamp
          format: RFC3339Nano
      - labels:
          level:
          category: